/* GOOGLE FONTS ADDED */
/* font-family: 'Pacifico', cursive;
font-family: 'Nunito', sans-serif; */

body {
    background-color: black;
    background-image: url('../images/bg.png')
}

.container {
    display: grid;
    grid-template-areas:
    'space space space space space space'
    'header header header header header header'
    'left rules rules rules rules right'
    'left counter counter counter counter right'
    'left crystals crystals crystals crystals right'
    'left footer footer footer footer right';
    grid-template-columns: 10% 8% auto auto 8% 10%;
    grid-gap: 5px;
    grid-template-rows: 10px 80px auto auto auto auto;
    font-family: 'Nunito', sans-serif;
    border-radius: 4px;
}

.header {
    background-color: rgb(95, 148, 228);
    color: aliceblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    grid-area: header;
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: 'Pacifico', cursive;
    font-size: 2.6rem;
    text-align: center;
    padding: 20px 10px 10px 30px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

}

.instructions {
    grid-area: rules;
    background-color: rgb(155, 155, 155);
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 10px 60px 10px 60px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

}

ol {
    list-style-type: circle;
    padding: 0px 30px 0px 30px;

}

#rules {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 2.0rem;
    color: aliceblue;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

h3 {
    font-family: 'Pacifico', cursive;
}


.numbers {
    grid-area: counter;
    overflow: hidden;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

}

#randomNumber {
    background-color: aliceblue;
    height: 200px;
    width: 250px;
    top: 50%;
    border-radius: 2px;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    font-size: 2.2em;
}

#userScore {
    background-color: aliceblue;
    height: 200px;
    width: 250px;
    border-radius: 2px;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    font-size: 2.2em;
}

#winsLosses {
    background-color: aliceblue;
    height: 200px;
    width: 250px;
    border-radius: 2px;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    font-size: 2.2em;

}



.crystals {
    grid-area: crystals;
    overflow: hidden;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

img {
    padding-left: 15px;
    padding-right: 15px;
}

li {
    padding: 5px 0px 5px 0px;
}